* {
    box-sizing: border-box;
}
:root {
    --main-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --off-white: #f2f2f2;
    --curved-border: 5px;
    --light-blue: #E3FCFF;
    --dark-grey: #7b7b7b;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('./Inconsolata/static/Inconsolata-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('./Inconsolata/static/Inconsolata-Medium.ttf') format('truetype');
    font-weight: 500;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-family: 'Inconsolata', sans-serif;
}
header {
    display: flex;
    position: sticky;
    top: 0;                
    width: 100%;
    height: 15%;        
    background-color: var(--off-white);
    box-shadow: var(--main-shadow);
    z-index: 1000;          
    padding: 10px 20px;
  }
  h1 {
    font-weight: 300;
    margin: 0;
    width: fit-content;
    padding: 1%;
  }
  h4 {
    font-weight: 500;
  }
p {
    font-weight: 300;
  }

  /* ID style formatting */
#header-assets {
    display: flex;
    width: 80%;
    margin: 0 10%;
    align-items: center;
    justify-content: space-around;
}
#user-interface {
    height: 100%;
    width: 100%;
}
#user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 20%;
    margin: 5%;
}
#user-input h1 {
    margin-top: 2%;
    padding: 5%;
    border-bottom: solid black 2px;
}
#input-form {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 5%;
}
.input-container {
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
    box-shadow: var(--main-shadow);
}
#form-input {
    font-family: 'Inconsolata';
    height: 35px;
    border: var(--off-white) 1px solid;
    border-radius: var(--curved-border);
    background-color: var(--off-white);
    width: 100%;
    padding-right: 50px;
}
#input-form button {
    font-size: 2rem;
    height: 35px;
    width: 50px;
    position: absolute;
    right: 0;
    background-color: #E3FCFF;
    color: var(--off-white);
    border: var(--off-white) solid 1px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
#pop-up {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 40%;
    left: 20%;
    width: 60%;
    height: 30%;
    z-index: 2000;
    margin: 0;
    background-color: #ffffff;
    box-shadow: var(--main-shadow);
    border-radius: var(--curved-border);
}
#submit-details {
    text-align: center;
    width: 30%;
    height: 50px;
    margin: 0 35%;
    background-color: transparent;
    transition: 150ms ease-in-out;
    border: var(--off-white) solid 1px;
    border-radius: var(--curved-border);
    font-family: 'Inconsolata', sans-serif;
}
#submit-details:hover {
    background-color: var(--light-blue);
    transition: 200ms ease-in-out;
}
#project-list {
    width: 80%;
    margin: 5% 10%;
    height: fit-content;
    padding: 2%;
    background-color: var(--off-white);
    box-shadow: var(--main-shadow);;
    border-radius: var(--curved-border);
}
#trash {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 3%;
    right: 2%;
}
#subtask {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4%;
    right: 15%;
}
#subTask-trash {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 4%;
    right: 3%;
}
#subTask-trash path {
    stroke: var(--dark-grey); /* Remove any stroke to ensure no black lines */
    transition: stroke 200ms ease-in-out
}
#subTask-trash:hover {
    stroke: var(--light-blue);
    transition: stroke 300ms ease-in-out;
}


/* Class style formatting */

.details {
    font-family: 'Inconsolata';
    height: 35px;
    border: var(--off-white) 1px solid;
    border-radius: var(--curved-border);
    background-color: var(--off-white);
    width: 80%;
    margin: 0 10%;
    padding: 5px;
}
.task {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: var(--light-blue) 1px solid;
    box-shadow: var(--main-shadow);
    border-radius: var(--curved-border);
    width: 100%;
    margin-top: 3%;
    padding: 15px;
    justify-content: space-around;
    scale: 1;
    transition: 150ms ease-in-out;
}
.task:hover {
    scale: 1.05;
    transition: 200ms ease-in-out;
}
.task > * {
    margin: 0;
}
.task-details {
    position: relative;
    font-family: 'Inconsolata';
    width: 90%;
    height: auto;
    margin: 2% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    border: var(--off-white) solid 2px;
    box-shadow: var(--main-shadow);
}
.task-details > *:first-child {
    grid-column: span 2;
}
.task-details > * {
    margin: 5px;
}
.header-svg {
    height: 25px;
    width: 25px;
}

@media (min-width: 575px) {
    #project-list {
        margin: 10% 10%;
    }
    #pop-up {
        top: 55%;
    }
    .task-details {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(40px, auto);
        grid-auto-flow: row;
    }
}
@media (min-width: 750px) {
    .input-container {
        width: 60%;
    }
    #user-input h1 {
        margin-top: 0;
    }
    #user-input {
        margin: 0 5% 5% 5%;
    }
}
@media (min-width: 850px) {
    #project-list {
        width: 65%;
        margin: 10% 17.5%;
    }
}
@media (min-width: 1000px) {
    #project-list {
        width: 50%;
        margin: 10% 25%;
    }
    #submit-details {
        width: 15%;
        margin: 0 37.5%;
    }
}